{{ highlightComponent.highlight() }}

<div class="block _template" (mousemove)="noop()">
  Template listener (noop)
</div>

<div #blockNoop class="block">
  Rxjs listener (noop)
</div>

<div>
  <div class="block _template" (mousemove)="incTemplateEventIndexSignal()">
    Template listener with signal change
  </div>

  <div class="counter">Event index: {{ templateEventIndexSignal() }}</div>
</div>

<div>
  <div #block class="block">
    Rxjs listener with signal change
  </div>

  <div class="counter">Event index: {{ rxjsEventIndexSignal() }}</div>
</div>

<div>
  <div class="block _template" (mousemove)="incTemplateEventIndexProperty()">
    Template listener with property change
  </div>

  <div class="counter">Event index: {{ templateEventIndexProperty }}</div>
</div>

<div>
  <div #propertyBlock class="block">
    Rxjs listener with property change
  </div>

  <div class="counter">Event index: {{ rxjsEventIndexProperty }}</div>
</div>
